[Desktop Entry]
Type=Application
Exec=/var/lib/vlad/vlad-change-wallpaper.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=change background
Name=change background
Comment[en_US]=
Comment=
