[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=/var/lib/vlad/change_background.png
Exec=python3 /var/lib/vlad/change_background.py
Name=Change Backgrownd
