[Desktop Entry]
Type=Application
Exec=/home/vlad/mygithub/wallpaper-changer/change_background.py
Icon=/home/vlad/mygithub/wallpaper-changer/change_background.png
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=change background
Name=change background - system start 
Comment[en_US]=change background - system start
Comment=
