[Unit]
     Description= Automaitc Change Wallpaper
 
  [Service]
     ExecStart=/usr/bin/python3 vlad-change-wallpaper.py
     WorkingDirectory=/var/lib/vlad
     StandardOutput=null
     Restart=always
     RestartSec= 120
     SystemlogIdentifier=vlad-change-wallpaper
     KillMode=control-group
     

  [Install]
     WantedBy=multi-user.target
     Alias=vlad-change-wallpaper.service
